* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #6d9add;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.register-container {
  background: rgb(86, 72, 212);
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.register-container h2 {
  margin-bottom: 20px;
  color: #db6060;
}

.register-form input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border: 1px solid #1b1b1b;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
}

.register-form button {
  width: 100%;
  padding: 12px;
  background: #09284a;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.register-form button:hover {
  background: #0056b3;
}