body{
  background-size: cover;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
  background-image: url("/images/itachi-uchiha-dark-3840x2160-20031.jpg");
}
.login-container {
  width: 400px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(112, 67, 67, 0.1);
  height: 400px;
  width: 300px;
    text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);}
.image{
  width: 100%;
  height: 200px;
  background-image: url("/images/izana-kurokawa-3840x2160-14149.jpg");
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;}
.input-container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #2c3e50;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  width: 300px;
    height: 40%;
}
.login-button {
  background-color: #07db55;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 10px;
}
.login-button:hover {
  background-color: #0c7e06;
}
h1 {
     font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}